

li.rosa:hover {
    color: pink;
}

ol {
    background-color: yellow;
}

.par {
   color: green;
   font-weight: bolder;
}

.impar {
    text-transform: uppercase;
    font-weight: bolder;
}

h1, h3 {
    color: red;
}

li {
    font-size: 20px;
}

.azul {
    color: blue;
}

.rosa {
    background-color: pink;

}


.lista li:first-child:hover a {
    color:coral; 
    font-weight: bold;
}
.lista li:nth-child(2):hover a {
    color: green;
    font-weight: bold;
}
.lista li:nth-child(3):hover a {
    color:black;
    font-weight: bold;
}
.lista li:nth-child(4):hover a {
    color: yellow;
    font-weight: bold;
}
.lista li:nth-child(5):hover a {
    color: green;
    font-weight: bold;
}
    