div:hover {
    border: 1px solid blue;

  }

.amarelo {
 color: yellow; 
background-color: black;
}

.vermelho {
    color: red;
    background-color: aquamarine;
    
   }

   .marrom {
    color: brown; 
    font-size: 28px;
    background-color: orange;
  
   }

   .rosa {
    color: rgb(115, 8, 136); 
    background-color: rgb(0, 255, 213);
   }

   .verde {
    color: hwb(120 33% 31%); 
    background-color: #0a0a06;
   }
